{% extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{% block title%} Login Page {% endblock%}


{% block content%}
    <div class="row mt-5 pt-5">
        <div  class="col-md-4 offset-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4 style="display: flex;justify-content: center;">Password Reset</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input style="width: 100%;" class="btn btn-secondary btn-sm" type="submit" value="Reset my password">
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}