{% extends 'partials/base.html'%}
{% load crispy_forms_tags %}

{% block title%} Order Page {% endblock%}


{% block content%}
    <div class="row mt-4 pt-4">
        <div  class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-info">
                    The order is complete.
                </div>
                <a class="btn btn-sm btn-primary" href="{% url 'buyer-index'%}">index page</a>
                
            </div>
         </div>
        </div>
    </div>



  

  {% endblock %}